/*--------------------------------------------------------------------------------------
 * I have read enough to know this is not the 'React way' for styling.  In a larger app I would
 * put each component in own folder with own sass file—and do more research on React best practices
 * on styling.
 *--------------------------------------------------------------------------------------*/

/*----------------------------------------
 * TODO TODO TODO TODO TODO TODO
 * 1. RESPONSIVE! 
 * 2. cross-browser with autoprefixer
 * 3. Find better font, similar to marvel
 *---------------------------------------*/



/*----------------------------------------
 *  Variables
 *---------------------------------------*/

// Taken from bootstrap4 
// TODO prune after color decisions
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$marvel-red: #b50f16        // Red color taken from marvel.com

$border-radius: 2px
$marvel-img-diam: 34px
$btn-select-height: 50px;

/*----------------------------------------
 *  Styling
 *---------------------------------------*/


body
    font-family: sans-serif
    margin: 0

header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    height: 70px
    background-color: $marvel-red
    
    .app-title
        width: 50%
        color: $white

.search-select-container
    position: relative
    
    form
        position: relative

    .character-search-input
        padding: 6px 6px
        font-size: 12px
        border: 1px solid $gray-200
        border-radius: $border-radius
        color: $gray-700

    // Spinner not identical to provided images in https://github.com/hireupau/frontend-assessment, but was a quick implementation from previous work I did
    .spinner 
        position: relative
        content: ''
        box-sizing: border-box
        position: absolute
        top: 6px
        right: 8px
        width: 12px
        height: 12px
        border-radius: 50%
        border: 1px solid $gray-600
        border-top-color: #ffffff
        animation: spinner .9s linear infinite   

    @keyframes spinner
        0%
            transform: rotate(0deg)
        100%
            transform: rotate(360deg)         

    .result-list-box
        height: $btn-select-height*5
        padding-right: 6px
        background-color: $gray-100
        border: 1px solid $gray-400
        border-radius: $border-radius*2
        position: absolute
        top: 38px
        right: 0

        // This is not the solution for the scrollbar show in the repo images, but an attempt until I figure it out.  
        //    Maybe try https://github.com/Stanko/rocketScroll
        //    So curious to know how it can be done
        .result-list-scroll
            height: $btn-select-height*5 - 2px  // Hacky but avoids double bottom line
            overflow-y: scroll
            &::-webkit-scrollbar
                width: 4px
                background-color: #F5F5F5;
            &::-webkit-scrollbar-track
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 10px;
                margin: 14px 
            &::-webkit-scrollbar-thumb
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);

    .btn-select
        display: flex
        flex-direction: row
        align-items: center
        height: $btn-select-height
        width: 230px
        cursor: pointer
        color: $gray-600
        background-color: $gray-100
        border: none
        border-bottom: 1px solid $gray-400
        &:last-child
            border: none

        .marvel-img-box
            margin-right: 10px
        
            .marvel-img
                width: $marvel-img-diam
                height: $marvel-img-diam
                max-width: 100%
                border-radius: $marvel-img-diam/2
        
        .marvel-name
            font-weight: bold       //TODO use less pronounced font-weight




