@charset "UTF-8";
/*--------------------------------------------------------------------------------------
 * I have read enough to know this is not the 'React way' for styling.  In a larger app I would
 * put each component in own folder with own sass file—and do more research on React best practices
 * on styling.
 *--------------------------------------------------------------------------------------*/
/*----------------------------------------
 * TODO TODO TODO TODO TODO TODO
 * 1. RESPONSIVE!
 * 2. cross-browser with autoprefixer
 * 3. Find better font, similar to marvel
 *---------------------------------------*/
/*----------------------------------------
 *  Variables
 *---------------------------------------*/
/*----------------------------------------
 *  Styling
 *---------------------------------------*/
body {
  font-family: sans-serif;
  margin: 0; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #b50f16; }
  header .app-title {
    width: 50%;
    color: #fff; }

.search-select-container {
  position: relative; }
  .search-select-container form {
    position: relative; }
  .search-select-container .character-search-input {
    padding: 6px 6px;
    font-size: 12px;
    border: 1px solid #e9ecef;
    border-radius: 2px;
    color: #495057; }
  .search-select-container .spinner {
    position: relative;
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 6px;
    right: 8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #868e96;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite; }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .search-select-container .result-list-box {
    height: 250px;
    padding-right: 6px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    position: absolute;
    top: 38px;
    right: 0; }
    .search-select-container .result-list-box .result-list-scroll {
      height: 248px;
      overflow-y: scroll; }
      .search-select-container .result-list-box .result-list-scroll::-webkit-scrollbar {
        width: 4px;
        background-color: #F5F5F5; }
      .search-select-container .result-list-box .result-list-scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        margin: 14px; }
      .search-select-container .result-list-box .result-list-scroll::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .search-select-container .btn-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 230px;
    cursor: pointer;
    color: #868e96;
    background-color: #f8f9fa;
    border: none;
    border-bottom: 1px solid #ced4da; }
    .search-select-container .btn-select:last-child {
      border: none; }
    .search-select-container .btn-select .marvel-img-box {
      margin-right: 10px; }
      .search-select-container .btn-select .marvel-img-box .marvel-img {
        width: 34px;
        height: 34px;
        max-width: 100%;
        border-radius: 17px; }
    .search-select-container .btn-select .marvel-name {
      font-weight: bold; }
